@import "variables";


.tooltip-publish-container{
  font-family: "FF Kievit Pro";
  width: 320px;
  max-height: 320px !important;
  padding: 20px;
  text-align: left;
  background: white;
  border-radius: 2px;
  color: $gray;
  font-size: 16px;

  h3 {
    margin: 0;
  }

  > div {
    margin: 0;

    &:not(:last-child){
      padding: 16px 0;
    }

    &:last-child{
      padding-top: 16px;
    }
  }

  > div {
    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      border-bottom: 1px solid $gray-lighter;
    }
  }


  > div:last-child {
    display: flex;
    button {
      margin-right: 0;
      margin-left: auto;
    }

    div {
      font-size: 13px;
    }
  }
}
