@import "variables";


.tooltip-actions-container{
  font-size: 16px;
  padding: 8px 0;
  text-align: left;
  background: white;
  max-width: 280px;
  border-radius: 2px;
  color: $gray;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 7px 25px;
    }
  }

  hr {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    border: 0;
  }
}
